.gallerywrap
{
    display: inline-block;

}
.typingeff
{
    color:aliceblue;
    font-size:40px;
    letter-spacing:2px;
   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-right: 5px solid;
    
    width:100%;
    
    white-space: nowrap;
    overflow: hidden;
    animation :
    typing 2s steps(18),

    cursor.4s step-end infinite alternate;
}
  
  
  @media screen and (max-width:768px)
  {
    .creativehead
    {
        font-size:10px;
        letter-spacing:2px;
        font-family:Arial, Helvetica, sans-serif;
    }
  }


  @media screen and (max-width:576px)
  {
    .typingeff
    {
        font-size:20px;
        letter-spacing:2px;
    }
  }
  

.creativehead
{
    color:aliceblue;
    font-size:13px;
        letter-spacing:2px;
        font-family:Arial, Helvetica, sans-serif;
    
    
    border-right: 5px solid;
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    animation :
    typing 2s steps(18),

    cursor.4s step-end infinite alternate;
}
@keyframes cursor {
    50%
    {
        border-color:transparent
    }
    
}
@keyframes typing {
    from{ width: 0}
    
}